*, *::before,*::after {
  box-sizing: border-box
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

/* .zscore_rank {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url("https://source.unsplash.com/nKC772R_qog");
  background-size: cover;
  background-position: center;
  position: relative;
} */

/* .avatar:hover::after { */

th.zscore_rank {
    position: relative;
    z-index: 37;
}

.zscore_text {
    display: block;
    /* visibility: hidden; */
    width: 130px;
    text-align: center;
    position: absolute;
    /* z-index: 100; */
    border: 1px;
    background-color: rgb(255,255,225);
    /* opacity: 0.9; */
    border-style: solid;
    border-width: 1px;
    border-color: blue;
    border-radius: 7px;
    padding: 0.5em;
    font-size: 0.75em;
    color: blue;
    top: 20px;
    left: 20px;
    transform: scale(0);
    transition: transform ease-out 150ms;
    transform-origin: top left;
    /* opacity: 0;
    transition: opacity 500ms; */
}

.zscore_rank:hover .zscore_text {
    /* display: block; */
    transform: scale(1);
    /* visibility: visible;
    opacity: 1; */
}



/* .zscore_rank {
    position: relative;
}

.zscore_rank::before,
.zscore_rank::after {
  --scale: 0;
  --arrow-size: 10px;
  --tooltip-color: #333;
  position: absolute;
  top: -0.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0))
    scale(var(--scale));
  transition: 150ms transform;
  transform-origin: bottom center;
  content: attr(data-tooltip);
}

.zscore_rank::before {
  --translate-y: calc(-100% - var(--arrow-size));

  content: attr(data-tooltip);
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  text-align: center;
  width: max-content;
  max-width: 100%;
  height: 50px;
  width: 50px;
  background: var(--tooltip-color);
}

.zscore_rank:hover::before,
.zscore_rank:hover::after {
  --scale: 1;
}

.zscore_rank::after {
  --translate-y: calc(-1 * var(--arrow-size));
  content: "";
  width: 10px;
  height: 10px;
  background-color: black;
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--tooltip-color);
  transform-origin: top center;
}


*, *::before, *::after {
    box-sizing: border-box
} */